<section class="posts">
  <a href="/p0">
    <div class="thread">
      <figure>
        <img src="post-1.jpg" alt="https://unsplash.com/photos/Q47eNv_UvfM">
        <div class="desc">
          <h2 class="title">Light at the end of the tunnel</h2>
          <figcaption class="hideshow">
            Voluptate dolor beef ribs, deserunt anim tempor corned beef buffalo
            picanha excepteur pork chop eu ad quis. Qui pastrami doner turducken
            enim corned beef tempor sausage laborum consequat hamburger buffalo.
          </figcaption>
        </div>

      </figure>
    </div>
  </a>
  <a href="/p1">
    <div class="thread">
      <h2 class="title">Live your life to the fullest</h2>
      <img src="post-2.jpg" alt="https://unsplash.com/photos/j4PaE7E2_Ws">
      <!-- <div class="content">
        <p>Spicy jalapeno bacon ipsum dolor amet nulla non esse hamburger,
          biltong fugiat flank sed eu labore burgdoggen. Ex kevin salami
          frankfurter meatball beef swine exercitation ea labore in, short
          loin prosciutto nisi. Enim ut picanha, irure turkey excepteur
          aliqua prosciutto tongue ribeye salami velit brisket voluptate.
          Doner irure fatback, laboris enim drumstick kevin capicola
          consectetur pariatur. Irure sunt salami corned beef, swine commodo
          dolore cupidatat non tenderloin qui tri-tip.</p>
        <p>Doner eu sed esse occaecat beef porchetta pastrami elit qui id.
          Capicola venison shoulder beef ribs anim. Aute anim non pariatur
          ground round sint duis doner ut flank nostrud ut deserunt occaecat.
          Id landjaeger flank consectetur non et nulla shoulder mollit
          drumstick laboris esse lorem.</p>
      </div> -->
    </div>
  </a>
  <a href="/p2">
    <div class="thread">
      <h2 class="title">Be water, my friend</h2>
      <img src="post-3.jpg" alt="https://unsplash.com/photos/iIg4F2IWbTM">
      <!-- <div class="content">
        <p>Short ribs burgdoggen drumstick kevin kielbasa enim. Tri-tip ham
          hock frankfurter proident incididunt cupim ullamco pig. Shoulder
          tri-tip ground round drumstick pig ribeye. Chicken venison
          frankfurter, strip steak sirloin t-bone ham. Ut nostrud tongue
          reprehenderit corned beef, irure sausage swine bresaola nisi
          laborum. Pastrami short loin bacon andouille ea culpa.</p>
        <p>Filet mignon et qui culpa irure in. Ex do kielbasa ullamco enim
          excepteur, et adipisicing dolore esse pancetta capicola occaecat.
          Fugiat picanha ut, kevin mollit shankle pork belly. Occaecat ut
          boudin voluptate andouille deserunt salami velit venison. Turkey
          pariatur minim sirloin culpa et shankle voluptate cupim qui ham
          hock in prosciutto chuck.</p>
      </div> -->
    </div>
  </a>
</section>
