<section class="posts">
  <a href="/p0">
    <div class="thread">
      <figure>
        <img src="post-1.jpg" alt="https://unsplash.com/photos/Q47eNv_UvfM">
        <div class="desc">
          <h2 class="title">Light at the end of the tunnel</h2>
          <figcaption class="hideshow">
            Voluptate dolor beef ribs, deserunt anim tempor corned beef buffalo
            picanha excepteur pork chop eu ad quis. Qui pastrami doner turducken
            enim corned beef tempor sausage laborum consequat hamburger buffalo.
          </figcaption>
        </div>
      </figure>
    </div>
  </a>
  <a href="/p1">
    <div class="thread">
      <img src="post-2.jpg" alt="https://unsplash.com/photos/j4PaE7E2_Ws">
      <h2 class="title">Live your life to the fullest</h2>      
    </div>
  </a>
  <a href="/p2">
    <div class="thread">
      <img src="post-3.jpg" alt="https://unsplash.com/photos/iIg4F2IWbTM">
      <h2 class="title">Be water, my friend</h2>
    </div>
  </a>
</section>
