    <footer>
      <p>&copy;Copyright Minimalism 2019</p>
      <p>Images from <a href="https://unsplash.com/"><strong>Unsplash</strong></a></p>
      <ul>
        <li><a href="/blog">Blog</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="#contact">Contact</a></li>
      </ul>
      <!-- <ul>
        <li><a href="/blog">Blog</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="#contact">Contact</a></li>
      </ul>
      <ul>
        <li><a href="/blog">Blog</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="#contact">Contact</a></li>
      </ul> -->
    </footer>
  </body>
</html>
