<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Minimalist Blog</title>
    <link rel="stylesheet" type="text/css" href="style.css">
  </head>
  <body>
    <header>
      <h1 class="logo"><a href="/">Minimalism</a></h1>
      <nav class="nav">
        <a href="/blog">Blog</a>
        <a href="/about">About</a>
        <a href="#contact">Contact</a>
      </nav>
    </header>
