<% include partials/header %>
<section class="about">
    <img src="hero.jpg" alt="">
    <p class="content">Short ribs burgdoggen drumstick kevin kielbasa enim. Tri-tip ham
        hock frankfurter proident incididunt cupim ullamco pig. Shoulder
        tri-tip ground round drumstick pig ribeye.</p>
</section>
<% include partials/footer %>