<% include partials/header %>

  <section class="hero"></section>

  <% include partials/blog %>

  <section id="contact">
    <p>Sign up for latest posts ?</p>
    <form id="mailus" name="mailus" method="post" action="/">
      <input type="email" name="email" placeholder="you@example.com"/>
      <button type="submit" name="button">Submit</button>
    </form>
  </section>

<% include partials/footer %>
