<% include ../partials/header %>

  <section>
    <h2 class="title">Be water, my friend</h2>
    <img src="post-3.jpg" alt="https://unsplash.com/photos/iIg4F2IWbTM">
    <div class="content">
      <p>Short ribs burgdoggen drumstick kevin kielbasa enim. Tri-tip ham
        hock frankfurter proident incididunt cupim ullamco pig. Shoulder
        tri-tip ground round drumstick pig ribeye. Chicken venison
        frankfurter, strip steak sirloin t-bone ham. Ut nostrud tongue
        reprehenderit corned beef, irure sausage swine bresaola nisi
        laborum. Pastrami short loin bacon andouille ea culpa.</p>
      <p>Filet mignon et qui culpa irure in. Ex do kielbasa ullamco enim
        excepteur, et adipisicing dolore esse pancetta capicola occaecat.
        Fugiat picanha ut, kevin mollit shankle pork belly. Occaecat ut
        boudin voluptate andouille deserunt salami velit venison. Turkey
        pariatur minim sirloin culpa et shankle voluptate cupim qui ham
        hock in prosciutto chuck.</p>
  </section>

<% include ../partials/footer %>
