<% include ../partials/header %>

<section class="posts">
  <h2 class="title">Light at the end of the tunnel</h2>
  <img src="post-1.jpg" alt="https://unsplash.com/photos/Q47eNv_UvfM">
  <div class="content">
    <p>Voluptate dolor beef ribs, deserunt anim tempor corned beef buffalo
      picanha excepteur pork chop eu ad quis. Qui pastrami doner turducken
      enim corned beef tempor sausage laborum consequat hamburger buffalo.
      Swine ut ex boudin ullamco brisket mollit id dolore frankfurter
      aliqua tenderloin. Lorem culpa adipisicing, cow shoulder et tri-tip
      brisket eiusmod beef ribs short loin chicken. Sunt mollit tongue
      elit, sed andouille anim commodo labore ham turkey magna et aute.</p>
    <p>In tempor voluptate laborum ham pastrami. Do andouille eu, in
      velit spare ribs veniam eiusmod sausage dolore. Brisket anim ut
      tenderloin picanha swine laboris ball tip esse exercitation
      consectetur flank officia. Ball tip shankle veniam laborum ad
      cupim swine spare ribs tenderloin ut id drumstick bresaola
      leberkas.</p>
</section>

<% include ../partials/footer %>
