<% include ../partials/header %>

  <section>
    <h2 class="title">Live your life to the fullest</h2>
    <img src="post-2.jpg" alt="https://unsplash.com/photos/j4PaE7E2_Ws">
    <div class="content">
      <p>Spicy jalapeno bacon ipsum dolor amet nulla non esse hamburger,
        biltong fugiat flank sed eu labore burgdoggen. Ex kevin salami
        frankfurter meatball beef swine exercitation ea labore in, short
        loin prosciutto nisi. Enim ut picanha, irure turkey excepteur
        aliqua prosciutto tongue ribeye salami velit brisket voluptate.
        Doner irure fatback, laboris enim drumstick kevin capicola
        consectetur pariatur. Irure sunt salami corned beef, swine commodo
        dolore cupidatat non tenderloin qui tri-tip.</p>
      <p>Doner eu sed esse occaecat beef porchetta pastrami elit qui id.
        Capicola venison shoulder beef ribs anim. Aute anim non pariatur
        ground round sint duis doner ut flank nostrud ut deserunt occaecat.
        Id landjaeger flank consectetur non et nulla shoulder mollit
        drumstick laboris esse lorem.</p>
  </section>

<% include ../partials/footer %>
